@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NancyDemo.Csharp.Model.UserModel>
@{
    ViewBag.Title = "User page";
    Layout = "Master.cshtml";
}

@section users

<h1>Welcome to the user page</h1>
<table>
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>RealName</td>
        <td>@Model.RealName</td>
    </tr>
    <tr>
        <td>Password</td>
        <td>@Model.Password</td>
    </tr>
    <tr>
        <td>FileDetails</td>
        <td>@Model.FileDetails</td>
    </tr>
</table>
<a href="/users/userimageupload/@Model.Id">Upload image</a><br />
<img src="/users/getimage/@Model.Id"/>
